.btn {
    background: transparent;
    align-items: center;
    color: var(--text-color);

    box-sizing: border-box;
    padding: 5px 16px;
    transition: all 0.3s ease-in-out;
    width: fit-content;
    cursor: pointer;
}

.btn:hover {
    background: rgba(red, green, blue, 0.2);
}

.btn-primary {
    background: var(--clr-3);
}

.btn-primary:hover {
    background: var(--clr-3-hover);
}

.btn-secondary {
    background: var(--clr-2);
}

.btn-secondary:hover {
    background: var(--clr-2-hover);
}

.btn-submit {
    background: var(--clr-1);
    padding: 10px 0;
    width: 100%;
}

.btn-submit:hover {
    background: var(--clr-1-hover);
}

.btn-nav {
    border: none;
}
