.btn {
    display: flex;
    flex-direction: row;
    gap: 3px;
    align-items: center;

    background: var(--clr-1);
    color: var(--text-color);

    box-sizing: border-box;
    padding: 5px 10px;

    width: fit-content;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    filter: brightness(1.2);
    /* background: rgba(red, green, blue, 1); */
}

.btn[disabled] {
    cursor: default;
}

.btn-primary {
    background: var(--clr-3);
}

.btn-primary:hover {
    background: var(--clr-3-hover);
}

.btn-secondary {
    background: var(--clr-2);
}

.btn-secondary:hover {
    background: var(--clr-2-hover);
}

.btn-submit {
    background: var(--clr-1);
    padding: 10px 0;
    width: 100%;
}

.btn-submit:hover {
    background: var(--clr-1-hover);
}

.btn-nav {
    border: none;
}
