.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    gap: 3px;
    /* box-sizing: border-box; */
    padding: 5px 10px;

    letter-spacing: 1px;

    flex-direction: row;
    align-items: center;

    color: var(--text-color);

    width: fit-content;
    cursor: pointer;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    background: transparent;
}

.btn:hover {
    border-color: var(--clr-3);
    box-shadow: 0 0 0 0.1rem rgb(168, 150, 123, 0.25);
}

.btn[disabled] {
    opacity: 0.5;
    cursor: default;
}

.btn-primary {
    background: var(--clr-3);
}

.btn-primary:hover {
    background: var(--clr-3-hover);
}

.btn-secondary {
    background: var(--clr-2);
}

.btn-secondary:hover {
    background: var(--clr-2-hover);
}

.btn-submit {
    background: var(--clr-1);
    padding: 10px 0;
    width: 100%;
}

.btn-submit:hover {
    background: var(--clr-1-hover);
}

.btn-nav {
    border: none;
}

.btn-dashed {
    border: 1px dashed;
}
