.acceptancebar {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 15px;
    gap: 4px;
    height: fit-content;
}

.acceptancebar__easy,
.acceptancebar__medium,
.acceptancebar__hard {
    position: relative;
    padding: 4px;
}

.acceptancebar__easy span,
.acceptancebar__medium span,
.acceptancebar__hard span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -60%);
    font-size: 1.5rem;
    font-weight: bold;
}

.acceptancebar svg {
    width: 5rem;
    height: 5rem;
    stroke-width: 3.5;
    stroke-linecap: round;
    transform: translate(5px, 5px);
    stroke-dasharray: 110;
    stroke-dashoffset: 92;

    filter: blur(30px) brightness(1.5);
}

.acceptancebar svg:hover {
    filter: blur(20px) brightness(1);
}

.acceptancebar__easy svg:first-child,
.acceptancebar__medium svg:first-child,
.acceptancebar__hard svg:first-child {
    position: absolute;
    top: 0;
    filter: none;
}

.acceptancebar__easy svg {
    stroke: var(--easy);
}

.acceptancebar__medium svg {
    stroke: var(--medium);
}

.acceptancebar__hard svg {
    stroke: var(--hard);
}
