.table-container {
    display: flex;
    gap: 10px;
}

.table-container__left {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 30%;
    margin-right: 10px;
}

.table {
    padding: 10px;
    border-spacing: 0;
    width: 80%;
    text-align: center;
    grid-column: span 2;
}

.table__row {
    height: 60px;
    margin: 10px;
}

thead, .table__row:nth-child(even) {
    background-color: var(--clr-2);
    /* border-radius: 8px; */
}

.table__header-item {
    font-size: 0.9rem;
}

.table__item {
    padding: 0;
    max-width: 10rem;
}

.table__tags {
    display: flex;
    flex-wrap: wrap;
}


@media screen and (max-width: 1000px) {
    .table-container {
        flex-direction: column;
    }

    .table-container__left {
        width: 100%;
    }

    .table {
        width: 100%;
    }
}
