.table-container {
    display: flex;
    /* flex-wrap: wrap; */
    gap: 10px;
}

.table {
    padding: 10px;
    border-spacing: 0;
    width: 80%;
    text-align: center;
    grid-column: span 2;
}

.table-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 30%;
    margin-right: 10px;
}

.table-header-item {
    background-color: var(--clr-2);
    font-size: 0.9rem;
}

.table tr {
    height: 60px;
    margin: 10px;
}

.table tbody tr:nth-child(even) {
    background-color: var(--clr-2);
    border-radius: 8px;
}

.table td {
    padding: 0;
}

.table-tags {
    max-width: 10rem;
    display: flex;
    flex-wrap: wrap;
}

.table-avatar {
    width: 60px;
}

@media screen and (max-width: 1000px) {
    .table-container {
        flex-direction: column;
    }

    .table-left {
        width: 100%;
    }

    .table {
        width: 100%;
    }
}
