.searchbar {
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.searchbar a {
    display: flex;
    align-items: center;
    gap: 4px;
}

.searchbar__filter {
    display: flex;
    gap: 4px;
    flex-grow: 2;
}

.searchbar__filter div {
    display: flex;
    gap: 0px;
}

.searchbar__filter input {
    border-radius: 8px 0 0 8px;
    border-right: none;
}

.searchbar__filter select {
    border: 1px solid var(--border-color);
    border-radius: 0 8px 8px 0;
}

.tags-container-slider {
    display: flex;
    gap: 5px;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
    max-height: 30px;
    padding: 0;
}

.tags-container-slider::-webkit-scrollbar {
    display: none;
}

@media (max-width: 600px) {
    .searchbar {
        flex-direction: column;
    }

    .searchbar__filter {
        flex-direction: column;
        /* gap: 4px; */
    }

    .searchbar__filter div {
        flex-direction: column;
    }

    .searchbar__filter input {
        border-radius: 8px 8px 0 0;
        border-right: 1px solid var(--border-color);
    }

    .searchbar__filter select {
        border-radius: 0 0 8px 8px;
    }
}
