.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
}

.dropdown-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    box-sizing: border-box;
    padding: 5px 8px;
    
    border-radius: 8px;
}