
.dropdown {
    position: relative;
    display: inline-block;
    z-index: 100;
}

.dropdown-icon {
    z-index: 1;
}

.dropdown-menu {
    position: absolute;
    right: 0;
    z-index: 100;
    display: flex;
    flex-direction: column;
}

.dropdown-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    box-sizing: border-box;
    padding: 15px;
    
    border-radius: 8px;
}
