.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown__menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.dropdown__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    box-sizing: border-box;
    padding: 5px 8px;
}