:root {
    --primary: hsl(216, 84%, 52%);
    --secondary: rgb(39, 33, 21);
    --variant: rgb(39, 136, 57);
    --variant-hover: rgb(46, 160, 67);
    --text-color: rgb(240, 246, 252);

    --bg-primary: rgb(13, 17, 23);
    --bg-navbar: rgb(1, 4, 9);
    --bg-secondary: rgb(22, 27, 34);
    --border-color: rgb(48, 54, 61);
}

body {
    background: var(--bg-primary);
    margin: 0px;
}

.btn {
    display: block;
    background: transparent;
    height: 30px;
    text-align: center;
    color: var(--text-color);

    border: 1px solid var(--border-color);
    border-radius: 8px;

    box-sizing: border-box;
    padding: 5px 16px;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    background: var(--bg-secondary);
}

.btn-primary {
    background: var(--primary);
}

.btn-submit {
    background: var(--variant);
    height: 35px;
}

.btn-submit:hover {
    background: var(--variant-hover);
}

form {
    background: var(--bg-secondary);
    color: var(--text-color);
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    font-size: 15px;
}

input {
    background: var(--bg-primary);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    height: 30px;
    color: var(--text-color);
}

.navbar {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    color: var(--text-color);
    background: var(--bg-navbar);
    border-bottom: 2px solid rgb(33, 38, 45);
}

.__navbar-title {
    display: flex;
    align-items: center;
    gap: 4px;
}

.__navbar-title h1 {
    margin: 0px;
    font-size: 20px;
}

.__navbar-nav {
    display: flex;
    align-items: center;
    gap: 7px;
    font-size: 15px;
}

.__navbar-nav a {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 10px;
    border-radius: 10px;
    color: var(--text-color);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.__navbar-nav a:hover {
    background: var(--bg-secondary);
}

.avatar {
    display: block;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: 2px solid var(--border-color);
    overflow: hidden;
}

.avatar:hover {
    border: 2px solid var(--primary);
}
