/* GLOBALS */

:root {
    --primary: hsla(216, 78%, 43%, 0.986);
    --primary-hover: hsl(216, 84%, 52%);
    --secondary: rgb(39, 33, 21);
    --secondary-hover: rgb(63, 53, 34);
    --variant: rgb(39, 136, 57);
    --variant-hover: rgb(46, 160, 67);

    --text-color: rgb(240, 246, 252);

    --bg-primary: rgb(13, 17, 23);
    --bg-navbar: rgb(1, 4, 9);
    --bg-secondary: rgb(22, 27, 34);
    --border-color: rgb(48, 54, 61);
}

body {
    background: var(--bg-primary);
    margin: 0px;
}

a {
    text-decoration: none;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 15px;
    padding: 20px;

    height: fit-content;
    width: 300px;

    background: var(--bg-secondary);
    color: var(--text-color);

    border: 1px solid var(--border-color);
    border-radius: 10px;
    margin: auto auto;
}

.form-page {
    display: flex;
    height: 100vh;
}

input {
    background: var(--bg-primary);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    height: 32px;
    color: var(--text-color);
}

select {
    background: var(--bg-primary);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    color: var(--text-color);

    box-sizing: border-box;
    padding: 0 10px;
}

/* Buttons */

.btn {
    background: transparent;
    text-align: center;
    color: var(--text-color);

    border: 1px solid var(--border-color);
    border-radius: 8px;

    box-sizing: border-box;
    padding: 5px 16px;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    background: var(--bg-primary);
}

.btn-primary {
    background: var(--primary);
}

.btn-primary:hover {
    background: var(--primary-hover);
}

.btn-submit {
    background: var(--variant);
    height: 35px;
}

.btn-submit:hover {
    background: var(--variant-hover);
}

/* NavBar */
.navbar-container {
    background: var(--bg-navbar);
    border-bottom: 2px solid rgb(33, 38, 45);
    width: 100%;
}

.navbar {
    padding: 16px;
    display: flex;
    color: var(--text-color);
    justify-content: space-between;
    max-width: 950px;
    margin: 0 auto;
}

.__navbar-title {
    display: flex;
    align-items: center;
    gap: 4px;
}

.__navbar-title h1 {
    margin: 0px;
    font-size: 20px;
}

.__navbar-nav {
    display: flex;
    align-items: center;
    gap: 7px;
    font-size: 15px;
}

.__navbar-nav a {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 10px;
    border-radius: 10px;
    color: var(--text-color);
    transition: all 0.3s ease-in-out;
}

.__navbar-nav a:hover {
    background: var(--bg-secondary);
}

.avatar {
    display: block;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: 2px solid var(--border-color);
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.avatar:hover {
    border: 2px solid var(--primary);
}

/* Problems Page */

.problems {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 12px;
    padding-top: 50px;

    max-width: 900px;
    margin: auto auto;
}

/* Problems Search Bar */

.__problems-search-bar {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background: var(--bg-secondary);
    border-radius: 8px;
    border: 1px solid var(--border-color);
}

.__problems-search-bar a {
    display: flex;
    align-items: center;
    gap: 4px;
}

.__problems-search-bar-filter {
    display: flex;
    gap: 4px;
}

.__problems-search-bar-filter div {
    display: flex;
    gap: 0px;
}

.__problems-search-bar-filter input {
    border-radius: 8px 0 0 8px;
    border-right: none;
}

.__problems-search-bar-filter select {
    border-radius: 0 8px 8px 0;
}

/* Problems Table */

.__problems-table {
    color: var(--text-color);
    border: 1px solid var(--border-color);
    border-radius: 8px;
}

.__problems-table-header {
    height: 50px;
    background: var(--bg-secondary);
}

.__problems-table-header th div {
    display: flex;
    align-items: center;
    place-content: center;
    gap: 5px;
}

.__problems-table-body tr td {
    text-align: center;
}

.__table_id {
    width: 5px;
    padding: 20px 10px;
}

.__table_title_tags {
    padding: 0 15px;
}
