:root {
    --a1: #006d32;
    --a2: hsla(130, 64%, 40%);
}

.streak-container {
    grid-column: span 2;

    display: flex;

    box-sizing: border-box;
    padding: 10px;

    overflow-x: scroll;
    scrollbar-width: thin;
}

.month-container {
    list-style: none;
    display: flex;

    padding: 0;
    margin: 0;

    gap: 2px;
}

.month {
    display: flex;
    flex-direction: column;
    /* width: 100px; */
}

.days-container {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
    width: 100%;

    padding: 0;
    margin: 0;
    gap: 1px;
}

.day {
    width: 15px;
    height: 15px;

    background: var(--clr-2);
    border-radius: 4px;
}

.day:hover {
    background: var(--clr-3);
}

.day-active1 {
    background: var(--a1);
}

.day-active2 {
    background: var(--a2);
}

.day-active3 {
    background: var(--a3);
}

@media (max-width: 768px) {
    .streak-container {
        grid-column: span 1;
    }
}
