.avatar {
    border-radius: 50%;
    border: 2px solid var(--border-color);
    overflow: hidden;
    transition: border 300ms ease-in-out;
    cursor: pointer;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.avatar:hover {
    border-color: var(--clr-3);
    box-shadow: 0 0 0 0.2rem rgb(168, 150, 123, 0.25);
}
