
.activedays-container {
    grid-column: span 2;

    display: flex;

    box-sizing: border-box;
    padding: 10px;

    overflow-x: scroll;
    scrollbar-width: thin;
}

.activedays__months {
    list-style: none;
    display: flex;

    padding: 0;
    margin: 0;

    gap: 2px;
}

.activedays__month {
    display: flex;
    flex-direction: column;
    /* width: 100px; */
}

.activedays__days {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
    width: 100%;

    padding: 0;
    margin: 0;
    gap: 1px;
}

.activedays__day {
    width: 15px;
    height: 15px;

    background: var(--clr-2);
    border-radius: 4px;
}

.activedays__day:hover {
    background: var(--clr-3);
}

.low-active {
    background: var(--lowactive);
}

.high-active {
    background: var(--highactive);
}


@media (max-width: 768px) {
    .activedays-container {
        grid-column: span 1;
    }
}
