.navbar-container {
    width: 100%;
    height: 100px;
    display: grid;
    place-content: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    height: 55px;

    border: 1px solid var(--border-color);
    border-radius: 50px;

    box-sizing: border-box;
    padding: 8px 10px;

    height: fit-content;
}

.navbar__title {
    font-size: 0.5rem;
    color: var(--text-color);
    margin-left: 5px;
}

.navbar__title span {
    font-size: 1.2rem;
}

.navbar__items {
    display: flex;
    /* gap: 0.1rem; */
    padding: 0 5px;
    margin: 0;
}

.navbar__item {
    list-style: none;
    font-size: 1.3rem;
}

.navbar__item:hover {
    background-color: var(--clr-1);
    border-radius: 20%;
}