:root {
    --clr-1: rgb(30, 6, 6, 0.4, 0.8);
    --clr-1-hover: rgb(30, 6, 6);
    --clr-2: rgba(64, 47, 47, 0.8);
    --clr-2-hover: rgba(64, 47, 47);
    --clr-3: rgb(168, 150, 123, 0.8);
    --clr-3-hover: rgb(168, 150, 123);

    --text-color: rgb(240, 246, 252, 0.8);
    --border-color: rgba(255, 255, 255, 0.05);
    --border-color-hover: rgba(255, 255, 255, 0.2);

    --easy: #00ff00;
    --medium: #ffcc00;
    --hard: #ff0000;

    --accepted: #00ff00;
    --rejected: #ff0000;
    --pending: #ff8c00;

    --lowactive: #006d32;
    --highactive: hsla(130, 64%, 40%);
}
