:root {
    --first-day: 3;
}

.calendar {
    height: fit-content;
    width: 100%;
    align-items: center;

    box-sizing: border-box;
    padding: 8px;
}

.calendar__header {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    height: 30px;
    padding: 8px;
    padding-top: 10px;
    font-size: 1rem;
    font-weight: 500;
}

.calendar__header span {
    font-size: 1.2rem;
    font-weight: 600;
}

.calendar-hider {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 30px;
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.calendar-hider:hover {
    background-color: var(--clr-3-hover);
}

.calendar__body ol {
    list-style: none;

    margin-top: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.calendar__weekday {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 30px;
    width: 30px;
    color: gray;
}

.calendar__day {
    border-radius: 30%;
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    height: 30px;
    width: 30px;
}

.calendar__day:hover {
    background-color: var(--clr-2-hover);
}

/* .calendar__day:first-child {
    grid-column-start: var(--first-day);
} */
